<div class="breadCrumb">
	<a href="/home/organizations">&#x2190; Organizations</a>
	/
	<a href="/home/actv">Actv</a>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="Tooteko logo" src="../images/organizations/actv/logo.png">
		</div>	

		<a class="pageLink" href="http://actv.avmspa.it/">actv.avmspa.it</a>

		<div class="mediaContainer">

			<a href=" https://www.facebook.com/muoversivenezia/" class="fa fa-facebook" style="background: #3B5998; color: white;"></a>

  			<a href="https://twitter.com/muoversivenezia?lang=en" class="fa fa-twitter" style="background: #55ACEE; color: white;"></a>
		</div>	

		<div class="mapContainer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2974.501242004769!2d12.305428879633908!3d45.440409749645454!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4749f229df2bc94!2sACTV+S.p.A.!5e0!3m2!1sit!2sit!4v1543336183259" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="sideContainterRight">
		<div class="contactContainer">
			<h1>Contact:</h1>
			<p>+39 041 2424</p>
        	<p>direzione@actv.it</p>
		</div>
	</div>

	<div class="infoContainer">
		<h1>Actv</h1>
		<h2>Public Transportation that gets everyone to where they're going.</h2>
		<br>
		<p>
			The Azienda del Consorzio Trasporti Veneziano (ACTV) is the public company that is responsible for public transportation services in Venice. The main form of ACTV public transportation is the system of vaporetti that transport passengers from island to island throughout the city. 
		</p>
		<br>
		<p>
			The vaporetto stops are accessible for people with mobility and visual impairments. They contain ramps that allow entrance onto the stop from the island of departure and float, thus causing them to rise and lower with the changing tides. Since the vaporetto stops float, the vaporetti are accessible for people with mobility and visual impairments because the entrance of the boat is at the same level as the floating stops making for a flat transfer between the boat and the stop. 
		</p>
		<br>
		<p>
			The vaporetti also possess wide entrances to allow wheelchair-bound passengers to enter and exit the boat in addition to crew members assiting the tranistion if needed. Designated seating areas are reserved for passengers with mobility impairments during the duration of the trip.
		</p>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		  	<div class="carousel-item active">
		      <video alt="Video of perosn in wheelchair getting on to boat stop" controls="" width="100%" height="315px">
					<source src="../images/organizations/actv/boatStop1.m4v" type="video/mp4"> 
						<source src="../image/organizations/actv/boatStop1.m4v" type="video/ogg"> 
						</source>
					</source>
				</video>
		    </div>

		    <div class="carousel-item">
		      <video alt="Video of perosn in wheelchair getting on to vaporetto" controls="" width="100%" height="315px">
					<source src="../images/organizations/actv/boatStop2.m4v" type="video/mp4"> 
						<source src="../image/organizations/actv/boatStop2.m4v" type="video/ogg"> 
						</source>
					</source>
				</video>
		    </div>

		    <div class="carousel-item">
		      <img alt="Venice boat stop and vaporetto" src="../images/organizations/actv/boatStop_vaporetto.jpg">
		    </div>

		    <div class="carousel-item">
		      <img alt="Venice vaporetto" src="../images/organizations/actv/vaporetto.jpg">>
		    </div>

		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
