<div alt="Moblie phone with applications" class="parallax-window" data-parallax="scroll" data-image-src="../images/applications/app_header.jpg">
	
</div>

<div class="window-content">
	<h1>Applications</h1>
	<h2>Making it Simple.</h2>
</div>

<div class="appSection">
	<h1 class="appSubSection">
		Navigation
	</h1>

	<div class="appPage">
		<a class="app" href="/home/blindSquare">
			<img src="../images/applications/blindSquare/bsLogo.jpg">

			<div class="appText">
				<h3>BlindSquare</h3>
				<p>A blind and visually impaired GPS-app announcing points of interest and street intersections as you travel.</p>
			</div>
		</a>

		<a class="app">
			<img src="../images/applications/nearbyExplorer/neLogo.png">

			<div class="appText">
				<h3>Nearby Explorer</h3>
				<p>Empowering users who are blind or visually impaired to explore, discover, and enjoy their travel.</p>
			</div>
		</a>

		<a class="app">
			<img src="../images/applications/seeingEyeGPS/seLogo.jpg">

			<div class="appText">
				<h3>Seeing Eye GPS</h3>
				<p>A GPS-app with those who are blind or visually impaired in mind. Simple, easy, accessible.</p>
			</div>
		</a>
	</div>
</div>

<div class="appSection">
	<h1 class="appSubSection">
		Learning
	</h1>

	<div class="appPage">
		<a class="app">
			<img src="../images/applications/accessNow/anLogo.png">

			<div class="appText">
				<h3>AccessNow</h3>
				<p>Sharing and finding accessibility information about places around the world.</p>
			</div>
		</a>

		<a class="app">
			<img src="../images/applications/blindWiki/logo.jpg">

			<div class="appText">
				<h3>blind.Wiki</h3>
				<p>Location-based audio network where blind or partially sighted citizens post informative sound recordings of their locations.</p>
			</div>
		</a>
	</div>
</div>

<div class="appSection">
	<h1 class="appSubSection">
		Safety
	</h1>

	<div class="appPage">
		<a class="app">
			<img src="../images/applications/braciPro/bpLogo.png">

			<div class="appText">
				<h3>Braci Pro</h3>
				<p>Notifies you of surrounding sounds with visuals and vibrations to ensure your safety, security, and comfort.</p>
			</div>
		</a>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
