<div class="appHeader">
	<div class="appLogo">
		<h1>Applications</h1>
		<h2>Making it Simple</h2>
	</div>
</div>

<div class="appSection">
	<h1 class="appSubSection">
		Navigation
	</h1>

	<div class="appPage">
		<a class="app">
			<img src="../images/applications/blindSquare/bsLogo.jpg">

			<div class="appText">
				<h3>Blind Square</h3>
				<p>A blind and visually impaired GPS-app announcing points of interest and street intersections as you travel.</p>
			</div>
		</a>

		<a class="app">
			<img src="../images/applications/nearbyExplorer/neLogo.png">

			<div class="appText">
				<h3>Nearby Explorer</h3>
				<p>Empowering blind or visually impaired users using this GPS-app to explore, discover, and enjoy their travel.</p>
			</div>
		</a>
	</div>
</div>


<%= render :partial => "/layouts/footer" %>
