<div alt="Man waiting in train" class="parallax-window" data-parallax="scroll" data-image-src="../images/arrival/arrival_header.jpg">
	
</div>

<div class="window-content">
	<h1>Arriving to Venice</h1>
	<h2>Starting your Journey.</h2>
</div>

<div class="arrivPage">
	<div class="arrivsContainer">
		<a class="arriv"">
			<img alt="Cruise Ship" src="../images/arrival/cruise_ship.jpg">

			<div class="arrivText">
				<h3>Boat</h3>
			</div>
		</a>

		<a class="arriv">
			<img alt="Person Driving" src="../images/arrival/driving.jpg">

			<div class="arrivText">
				<h3>Car</h3>
			</div>
		</a>

		<a class="arriv">
			<img alt="Plane Taking Off" src="../images/arrival/plane.jpg">

			<div class="arrivText">
				<h3>Plane</h3>
			</div>
		</a>

		<a class="arriv"">
			<img alt="Train Tracks" src="../images/arrival/train_tracks.jpg">

			<div class="arrivText">
				<h3>Train</h3>
			</div>
		</a>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
