<div alt="Venice at Night" class="parallax-window" data-parallax="scroll" data-image-src="../images/attractions/att_header.jpg">
	
</div>

<div class="window-content">
	<h1>Attractions</h1>
	<h2>Experiencing everything Venice has to offer.</h2>
</div>

<div class="attPage">
	<a class="att">
		<img alt="Venice Restaurant" src="../images/attractions/restaurant.jpg">

		<div class="attText">
			<h3>Restaurants</h3>
			<p></p>
		</div>
	</a>

	<a class="att">
		<img alt="Venice Church" src="../images/attractions/church.jpg">

		<div class="attText">
			<h3>Churches</h3>
			<p></p>
		</div>
	</a>

	<a class="att">
		<img alt="Venice Museum" src="../images/attractions/museum.jpg">

		<div class="attText">
			<h3>Museums</h3>
			<p></p>
		</div>
	</a>

	<a class="att">
		<img alt="Gondola Ride" src="../images/attractions/gondola_ride.jpg">

		<div class="attText">
			<h3>Gondola Rides</h3>
			<p></p>
		</div>
	</a>

	<a class="att">
		<img alt="Venice Store" src="../images/attractions/mask_shop.jpg">

		<div class="attText">
			<h3>Shops</h3>
			<p></p>
		</div>
	</a>
</div>

<%= render :partial => "/layouts/footer" %>
