<div class="breadCrumb">
	<a href="/home/organizations">&#x2190; Organizations</a>
	/
	<a href="/home/salablu">BlindWiki</a>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="Blind wiki logo" src="../images/organizations/blindwiki/logo.jpg">
		</div>	

		<div class="pageLink">
			<a href="https://blind.wiki/">blind.wiki</a>
		</div>

		<div class="mediaContainer">

  			<a href="https://twitter.com/blind_wiki" class="fa fa-twitter" style="background: #55ACEE; color: white;"></a>

  			<a href="https://www.instagram.com/blindwiki/" class="fa fa-instagram" style="background: #125688; color: white;"></a>
		</div>	

		<div class="mapContainer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.815074310557!2d12.3569523153598!3d45.433227343531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eae3a0db8fcbf%3A0x5b6fda3846035ff!2sCatalonia+in+Venice!5e0!3m2!1sit!2sit!4v1543327639013" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="sideContainterRight">
		<div class="contactContainer">
			<h1>Contact:</h1>
        	<p><a href="https://blind.wiki/site/feedback">blind.wiki/site/feedback</a></p>
		</div>
	</div>

	<div class="infoContainer">
		<h1>BlindWiki</h1>
		<h2>Continuous improvement to respond more effectively to the needs of travelers.</h2>
		<br>
		<p>
			The BlindWiki project was established for the Biennale di Venezia in 2017. It is a Venice audio network designed for use by sight-impaired and blind people to share their findings by posting sound recordings using their smartphones. 
		</p>
		<br>
		<p>
			People using the network can share experiences and stories of what they find that is interesting, but they can also use it to share and find information about difficulties and barriers throughout Venice. This project aims at improving the accessibility of Venice and other cities for people with total loss of vision or visual impairments. 
		</p>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		  	<div class="carousel-item active">
		      <iframe width="100%" height="315" src="https://www.youtube.com/embed/m3wO2FRtJi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>height="315">
		    </div>

		    <div class="carousel-item">
		      <iframe width="100%" height="315" src="https://www.youtube.com/embed/IhYOD-dStAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>

		    <div class="carousel-item">
		      <iframe width="100%" height="315" src="https://www.youtube.com/embed/fQTX-gk4u2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/blindWiki/blindwiki_map.png">
		    </div>

		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
