<div alt="Venice Buildings" class="parallax-window" data-parallax="scroll" data-image-src="../images/explore/explore_header.jpg">
	
</div>

<!--<div class="parallax-window" >
  <div class="parallax-slider">
   <img alt="A collection of maps" src="../images/maps/maps_header.jpg">
  </div>
</div>-->

<div class="window-content">
	<h1>Traveling Around Venice</h1>
	<h2>Finding the Easiest way to Explore Venice.</h2>
</div>

<div class="explorePage">
	<div class="exploresContainer">
		<a class="explore">
			<img alt="Vaporetto" src="../images/explore/vaporetto.jpg">

			<div class="exploreText">
				<h3>Boat</h3>
				<p>Traveling along the Canals to cross long distances with ease.</p>
			</div>
		</a>

		<a class="explore" href="/home/explore">
			<img alt="People Walking in Venice" src="../images/explore/walking.jpg">

			<div class="exploreText">
				<h3>Walking</h3>
				<p>Traversing the Islands to expereince Venice's inner beauty.</p>
			</div>
		</a>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>