<div class="orgHeader">
	<div class="orgLogo">
		<h1>Organizations</h1>
		<h2>With You Every Step of the Way</h2>
		<div class="breadCrumb">
			<a href="/home/organizations">Organizations</a>
			/
			<a href="/home/gondolas4all">Gondolas4All</a>
		</div>
	</div>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img src="../images/organizations/gondolas4all/logo.jpg">
		</div>	

		<div class="pageLink">
			<a href="http://www.gondolas4all.com/en/">gondolas4all.com</a>
		</div>	
	</div>

	<div class="infoContainer">
		<h1>Gondolas4All</h1>
		<h2>Accessible tourism is finally becoming a reality in Venice</h2>
		<p>
			Content goes here . . .
		</p>

		<iframe width="100%" height="315" src="https://www.youtube.com/embed/9RsCz__kRxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div class="sideContainerRight">
		<div class="mapContainer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2799.598193428268!2d12.3173127!3d45.4376005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2465eaa7a9591087!2sGONDOLAS4ALL!5e0!3m2!1sen!2sit!4v1542892281894" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
