<div class="homeHeader">
	<div class="orgLogo">
		<h1>Organizations</h1>
		<h2>With You Every Step of the Way</h2>
		<div class="breadCrumb">
			<a href="/home/organizations">Organizations</a>
			/
			<a href="/home/gondolas4all">Gondolas4All</a>
		</div>
	</div>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="gondolas4all logo" src="../images/organizations/gondolas4all/logo.jpg">
		</div>	

		<div class="pageLink">
			<a href="http://www.gondolas4all.com/en/">gondolas4all.com</a>
		</div>	

		<div class="mapContainer">
			<iframe alt="gondolas4all location" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2799.598193428268!2d12.3173127!3d45.4376005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2465eaa7a9591087!2sGONDOLAS4ALL!5e0!3m2!1sen!2sit!4v1542892281894" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="infoContainer">
		<h1>Gondolas4All</h1>
		<h2>Accessible tourism is finally becoming a reality in Venice</h2>
		<p>
			Content goes here . . .
		</p>

		<div id="gondolaCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#gondolaCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="1"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="4"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="5"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="6"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="7"></li>
		    <li data-target="#gondolaCarousel" data-slide-to="8"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		    <div class="carousel-item active">
		      <iframe width="100%" height="315" src="https://www.youtube.com/embed/9RsCz__kRxc" alt="gondolas4all promo video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>
		    <div class="carousel-item">
				<video controls="" width="100%" height="315px" alt="person in wheelchair entering gondola">
					<source src="../images/organizations/gondolas4all/gondolas4all_video.m4v" type="video/mp4"> 
						<source src="../image/organizations/gondolas4all/gondolas4all_video.m4v" type="video/ogg"> 
						</source>
				</source>
			</video>
		    </div>
		    <div class="carousel-item">
		      <img src="../images/organizations/gondolas4all/IMG_0012.jpg" alt="gondolas4all docking station" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/gondolas4all/IMG_0013.jpg" alt="gondolas4all ramp to enter docking station" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/gondolas4all/IMG_0014.jpg" alt="gondolas4all gondola lift" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/gondolas4all/IMG_0017.jpg" lt="gondolas4all ramp to exit docking station" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/gondolas4all/IMG_0020.jpg" alt="person in wheelchair in a gondola" width="100%" height="315">
		    </div>
		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#gondolaCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#gondolaCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
