<div class="header" style="left: 0px">
    <div class="headerRight hamDivContainer" onmouseover="hoverOnMenu()" onmouseleave="hoverOffMenu()" onclick="openNav()">
    	<div id="hamDiv1" class=hamDiv></div>
    	<div id="hamDiv2" class=hamDiv></div>
    	<div id="hamDiv3" class=hamDiv></div>
    </div>

    <script type="text/javascript">
		function hoverOnMenu(){
	    	play("Menu Button to open Menu Screen.");

			var div1 = document.getElementById("hamDiv1");
			var div2 = document.getElementById("hamDiv2");
			var div3 = document.getElementById("hamDiv3");

			div1.style.width = "40px";
			div2.style.width = "35px";
			div3.style.width = "30px";
	     }

		function hoverOffMenu(){
			var div1 = document.getElementById("hamDiv1");
			var div2 = document.getElementById("hamDiv2");
			var div3 = document.getElementById("hamDiv3");

			div1.style.width = "30px";
			div2.style.width = "30px";
			div3.style.width = "30px";
		} 
	</script>

   	<div id="logoBtn" class="homeHeaderBtn headerLeft" >Venice Without Obstacles</div>
</div>

<div class="screenContainer">
	<div class="carosalContainer">
	  <div id="myCarousel" class="slide carousel-fade" data-ride="carousel" data-interval="8000">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
	      <li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">

	      <div class="item active">
        	<img src="https://images.unsplash.com/photo-1534363968923-0640a695eee6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4812066e90dbd2eb5858b0a031c8baca&auto=format&fit=crop&w=1000&q=80" width="100%" style="min-height: 100vh; max-height: 100vh;">
      	  </div>

	      <div class="item">
	        <img src="https://c1.staticflickr.com/6/5746/25328284179_1e7b0bddb3_b.jpg" width="100%" style="min-height: 100vh; max-height: 100vh;">
	      </div>

	      <div class="item">
        	<img src="https://images.unsplash.com/photo-1534113414509-0eec2bfb493f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82758c4bf1f07e310fe4be1b7a201339&auto=format&fit=crop&w=934&q=80" width="100%" style="min-height: 100vh; max-height: 100vh;">
      	  </div>
	  
	    </div>
	  </div>
	</div>
	<div class="gradient"></div>
	<div class="infoContainer">
		
	</div>
</div>

<!--<div class="body homeContainer" style="top: 0px; left: 0px; right: 0px; bottom: 0px;">
    <div class="homeImg" style="background-image: url('https://images.pexels.com/photos/460630/pexels-photo-460630.jpeg?cs=srgb&dl=attractions-boats-buildings-460630.jpg&fm=jpg');">
    	<div id="homeFirstImgText">
	    	<div class="homeImgTextMain">
	    		<b>Experiencing Venice Together</b>
	    	</div>
	    	<div class="homeImgTextMinor">
	    		<b>Accessible Guilde for Planning your Trip to Venice</b>
	    	</div>
    	</div>
    </div>-->

    <%= render :partial => "/layouts/footer" %>
</div>

