<div id="headerBar" class="header" style="left: 0px">
    <div class="headerRight hamDivContainer" onmouseover="hoverOnMenu()" onmouseleave="hoverOffMenu()" onclick="openNav()">
    	<div id="hamDiv1" class=hamDiv></div>
    	<div id="hamDiv2" class=hamDiv></div>
    	<div id="hamDiv3" class=hamDiv></div>
    </div>

    <script type="text/javascript">
    	$(function() {
		   $(window).scroll(function () {
		      if ($(this).scrollTop() > 120) {
		         $(headerBar).addClass('headerChangeColor')
		      }
		      if ($(this).scrollTop() < 120) {
		         $(headerBar).removeClass('headerChangeColor')
		      }
		   });
		});

		function hoverOnMenu(){
	    	play("Menu Button to open Menu Screen.");

			var div1 = document.getElementById("hamDiv1");
			var div2 = document.getElementById("hamDiv2");
			var div3 = document.getElementById("hamDiv3");

			div1.style.width = "40px";
			div2.style.width = "35px";
			div3.style.width = "30px";
	     }

		function hoverOffMenu(){
			var div1 = document.getElementById("hamDiv1");
			var div2 = document.getElementById("hamDiv2");
			var div3 = document.getElementById("hamDiv3");

			div1.style.width = "30px";
			div2.style.width = "30px";
			div3.style.width = "30px";
		} 
	</script>
</div>

<div class="homeHeader">
	<div class="logo">
		<h1>Venice Without Obstacles</h1>
		<h2>Experiencing Venice Together</h2>
	</div>
</div>

<div>
	<div class="carosalContainer">
	  <div id="myCarousel" class="slide carousel-fade" data-ride="carousel" data-interval="14000" data-pause="false">

	  	<div class="carousel-caption">
          <h3>Start Exploring &#10095;</h3>
        </div>

	    <div class="carousel-inner" role="listbox">

	      <div class="item active">
	        <img src="https://images.pexels.com/photos/163776/venice-gondola-sunset-italian-163776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%">
	      </div>

	      <div class="item">
        	<img src="../images/gondolas4all.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="https://images.pexels.com/photos/460630/pexels-photo-460630.jpeg?cs=srgb&dl=attractions-boats-buildings-460630.jpg&fm=jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/accessBridge.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="https://images.pexels.com/photos/158441/venice-italy-sunset-grand-canal-158441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Accademia-vaporetto-stop-20050525-016.jpg" width="100%">
      	  </div>
	  
	    </div>
	  </div>
	</div>
	<div class="gradient"></div>
	<div class="infoContainer">
		
	</div>
</div>

<!--<div class="body homeContainer" style="top: 0px; left: 0px; right: 0px; bottom: 0px;">
    <div class="homeImg" style="background-image: url('https://images.pexels.com/photos/460630/pexels-photo-460630.jpeg?cs=srgb&dl=attractions-boats-buildings-460630.jpg&fm=jpg');">
    	<div id="homeFirstImgText">
	    	<div class="homeImgTextMain">
	    		<b>Experiencing Venice Together</b>
	    	</div>
	    	<div class="homeImgTextMinor">
	    		<b>Accessible Guilde for Planning your Trip to Venice</b>
	    	</div>
    	</div>
    </div>-->

    <%= render :partial => "/layouts/footer" %>
</div>

