<div style="margin-top: 78px">
	<div class="carosalContainer">
	  <div id="myCarousel" class="slide carousel-fade" data-ride="carousel" data-interval="14000" data-pause="false">

	  	<!--<div class="carousel-caption" onclick="openNav()">
          <h3>Start Exploring</h3>
        </div>-->

	    <div class="carousel-inner" role="listbox">
	      <div class="item active">
        	<img src="../images/homeImages/venice_wide.jpg" width="100%">
      	  </div>

	      <div class="item">
	        <img src="../images/homeImages/venice2.jpg" width="100%">
	      </div>

	      <div class="item">
        	<img src="../images/homeImages/accessibleBridge.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="../images/homeImages/venice3.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/bridge.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="../images/homeImages/gondolas4all.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/vaporetto.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Venezia_Santa_Lucia_Train_Station_R02.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/colorfulBridge.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/gondola.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Accademia-vaporetto-stop-20050525-016.jpg" width="100%">
      	  </div>
	  
	    </div>
	  </div>
	</div>
</div>

<div class="carousel-content">
	<h1>Working Together to make Venice Obstacle Free</h1>
	<h2>All the information you'll need for planning an accessible trip to Venice.</h2>

	<button class="carousel-content-button">Getting Started</button>
</div>

<!--<div class="body homeContainer" style="top: 0px; left: 0px; right: 0px; bottom: 0px;">
    <div class="homeImg" style="background-image: url('https://images.pexels.com/photos/460630/pexels-photo-460630.jpeg?cs=srgb&dl=attractions-boats-buildings-460630.jpg&fm=jpg');">
    	<div id="homeFirstImgText">
	    	<div class="homeImgTextMain">
	    		<b>Experiencing Venice Together</b>
	    	</div>
	    	<div class="homeImgTextMinor">
	    		<b>Accessible Guilde for Planning your Trip to Venice</b>
	    	</div>
    	</div>
    </div>-->

    <%= render :partial => "/layouts/footer" %>
</div>

