<div style="margin-top: 78px">
	<div class="carosalContainer">
	  <div id="myCarousel" class="slide carousel-fade" data-ride="carousel" data-interval="14000" data-pause="false">

	  	<!--<div class="carousel-caption" onclick="openNav()">
          <h3>Start Exploring</h3>
        </div>-->

	    <div class="carousel-inner" role="listbox">
	      <div class="item active">
        	<img src="../images/homeImages/venice_wide.jpg" width="100%">
      	  </div>

	      <div class="item">
	        <img src="../images/homeImages/venice2.jpg" width="100%">
	      </div>

	      <div class="item">
        	<img src="../images/homeImages/accessibleBridge.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="../images/homeImages/venice3.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/bridge.jpg" width="100%">
      	  </div>

	      <div class="item">
        	<img src="../images/homeImages/gondolas4all.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/vaporetto.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Venezia_Santa_Lucia_Train_Station_R02.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/colorfulBridge.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="../images/homeImages/gondola.jpg" width="100%">
      	  </div>

      	  <div class="item">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Accademia-vaporetto-stop-20050525-016.jpg" width="100%">
      	  </div>
	  
	    </div>
	  </div>
	</div>
</div>

<div class="carousel-content">
	<h1>Working Together to make Venice Obstacle Free</h1>
	<h2>All the information you'll need for planning an accessible trip to Venice.</h2>

	<button class="carousel-content-button" onclick="getStarted()">Getting Started</button>
  <script type="text/javascript">
    function getStarted(){
      window.location.href = "/home/maps";
    }
  </script>
</div>

<div class="benefitsContainer">
  <div class="paragraphContainer">
    <p>With Venice consisting of 118 islands connected by 400+ bridges, it is easy to see how one could consider Venice inaccessible to those living with disabilities, and even easier to see why one living with a disability would hesistant in planning a vacation there.</p><br>

    <p>On top of that, considering where to stay, where to eat, and what activities to do that are all accessible takes valuable time and energy. Where does one start in finding all this information? Hours of searching online and dozens of website tabs?</p>
  </div>
  <img class="imgRight" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2e/Footbridge_over_a_canal_in_Venice.jpg/1600px-Footbridge_over_a_canal_in_Venice.jpg" width="400px" height="270px">
</div>

<div class="benefitsContainer" style="background-color: white">
  <div class="paragraphContainer">
    <p>Venice without Obstacles finds all this information for you creating a single, coherent source of accessiblility information highlighting the most accessible aspects of Venice. Saving you all the hassle.</p><br>

    <p>Working together with universities, organizations, and volenteers Venice Without Obstacles is constanly expanding making it easier for you to find exactly what you're looking for. Our mission is helping you locate any and all accessiblity information you'll need to plan an accessible, obstacle free trip to Venice.</p>
  </div>
  <img class="imgLeft" src="../images/homeImages/venice_wide2.jpg" width="440px" height="270px">
</div>

<div class="featuresContainer">
  <div class="featureContent">
    <img src="../images/homeImages/icons/venice_icon.png" width="100%" height="160px">
    <h2>Majority Accessible</h2>
    <h1>70%</h1>
    <p>The city of Venice is 70% accessible by means on public transportation.</p>
  </div>

  <div class="featureContent">
    <img src="../images/homeImages/icons/bridge_icon.png" width="100%" height="145px" style="margin-top: 27px">
    <h2>Accessible Bridges</h2>
    <h1>358</h1>
    <p>Bridges containing ramps, handrails, tactile, or no slip edging.</p>
  </div>

  <div class="featureContent">
    <img src="../images/homeImages/icons/food_icon.png" width="100%" height="165px">
    <h2>Accessible Dining</h2>
    <h1>21%</h1>
    <p>Restaurants possess accessible enterances and cater to other customer accommodations.</p>
  </div>
</div>

<!--<div class="body homeContainer" style="top: 0px; left: 0px; right: 0px; bottom: 0px;">
    <div class="homeImg" style="background-image: url('https://images.pexels.com/photos/460630/pexels-photo-460630.jpeg?cs=srgb&dl=attractions-boats-buildings-460630.jpg&fm=jpg');">
    	<div id="homeFirstImgText">
	    	<div class="homeImgTextMain">
	    		<b>Experiencing Venice Together</b>
	    	</div>
	    	<div class="homeImgTextMinor">
	    		<b>Accessible Guilde for Planning your Trip to Venice</b>
	    	</div>
    	</div>
    </div>-->

    <%= render :partial => "/layouts/footer" %>
</div>

