<script type="text/javascript">
  playMapIntro();
</script>

<div style="padding-top: 78px; position: relative;">
  <div id="loaderDiv" class="loaderDiv">
    <div id="loader" class="loader"></div>
  </div>

  <div id="filterBoxItemHeader" class="filterBoxItemHeader" onmouseleave="closeSelector()">
      <div class="dropbtn" onclick="dropSelection()">
        <h2 id="headerText">Isles</h2> 
        <span class="icon">&#x2195;</span>
      </div>
      <div id="selector" class="dropdown-content">
        <a onclick="islandSelect()">Isles</a>
        <a onclick="bridgeSelect()">Ponti</a>
        <a onclick="boatStopSelect()">Boat Stops</a>
      </div>
  </div>
  <script type="text/javascript">
    function dropSelection(){
      var selection = document.getElementById("selector");
      if(selection.style.display === "block"){
          selection.style.display = "none";
      }
      else{
        selection.style.display = "block";
      }
    }

    function closeSelector(){
      var selection = document.getElementById("selector");
      selection.style.display = "none";
    }

    function bridgeSelect(){
      var headerText = document.getElementById("headerText");
      var selection = document.getElementById("selector");
      headerText.innerText = "Ponti";
      selection.style.display = "none";

      editContentBridge();
    }

    function islandSelect(){
      var headerText = document.getElementById("headerText");
      var selection = document.getElementById("selector");
      headerText.innerText = "Isles";
      selection.style.display = "none";

      editContentIsland();
    }

    function boatStopSelect(){
      var headerText = document.getElementById("headerText");
      var selection = document.getElementById("selector");
      headerText.innerText = "Boat Stops";
      selection.style.display = "none";

      editContentStops();
    }
  </script>

  <div id="filterBox" class="filterBox" style="height: 0">
    <div id="filterContainer" class="filterBoxFilterContainer">
    	<div class="filterCaptionBox">
        <h3 class="caption">
          Ramps
          <div class="filterBoxItem" id="perm">
            <input type="checkbox" checked class="filterCheck" id="rampPerCheck">
            <p class="filterBoxItem">Permanent</p>
          </div>
          <div class="filterBoxItem" id="temp">
            <input type="checkbox" checked class="filterCheck" id="rampTempCheck">
            <p class="filterBoxItem">Temporary</p>
          </div>
          <div class="filterBoxItem" id="ramp_none">
            <input type="checkbox" checked class="filterCheck" id="rampNoneCheck">
            <p class="filterBoxItem">None</p>
          </div>
        </h3>
      </div>
      <div class="filterCaptionBox">
        <h3 class="caption">
          Railing
          <div class="filterBoxItem" id="both">
            <input type="checkbox" checked class="filterCheck" id="railBothCheck">
            <p class="filterBoxItem">Both Sides</p>
          </div>
          <div class="filterBoxItem" id="one">
            <input type="checkbox" checked class="filterCheck" id="railOneCheck">
            <p class="filterBoxItem">One Side</p>
          </div>
          <div class="filterBoxItem" id="rail_none">
            <input type="checkbox" checked class="filterCheck" id="railNoneCheck">
            <p class="filterBoxItem">None</p>
          </div>
        </h3>
      </div>
      <div class="filterCaptionBox">
        <h3 class="caption">
          Slip Edging
          <div class="filterBoxItem" id="installSlip">
            <input type="checkbox" checked class="filterCheck" id="slipInstallCheck">
            <p class="filterBoxItem">Edging</p>
          </div>
          <div class="filterBoxItem" id="noneSlip">
            <input type="checkbox" checked class="filterCheck" id="slipNoneCheck">
            <p class="filterBoxItem">No Edging</p>
          </div>
        </h3>
      </div>
      <div class="filterCaptionBox">
        <h3 class="caption">
          Canal Opening
          <div class="filterBoxItem" id="openBoth">
            <input type="checkbox" checked class="filterCheck" id="openBothCheck">
            <p class="filterBoxItem">Both Sides</p>
          </div>
          <div class="filterBoxItem" id="openOne">
            <input type="checkbox" checked class="filterCheck" id="openOneCheck">
            <p class="filterBoxItem">One Side</p>
          </div>
          <div class="filterBoxItem" id="openNone">
            <input type="checkbox" checked class="filterCheck" id="openNoneCheck">
            <p class="filterBoxItem">None</p>
          </div>
        </h3>
      </div>
      <div class="filterCaptionBox">
        <h3 class="caption">
          Tactile Pavement
          <div class="filterBoxItem" id="installTact">
            <input type="checkbox" checked class="filterCheck" id="tactInstallCheck">
            <p class="filterBoxItem">Tactile</p>
          </div>
          <div class="filterBoxItem" id="noneTact">
            <input type="checkbox" checked class="filterCheck" id="tactNoneCheck">
            <p class="filterBoxItem">No Tactile</p>
          </div>
        </h3>
      </div>
      <div class="filterCaptionBox">
        <h3 class="caption">
          Property
          <div class="filterBoxItem" id="pub">
            <input type="checkbox" checked class="filterCheck" id="pubCheck">
            <p class="filterBoxItem">Public</p>
          </div>
          <div class="filterBoxItem" id="priv">
            <input type="checkbox" checked class="filterCheck" id="privCheck">
            <p class="filterBoxItem">Private</p>
          </div>
        </h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <script>

      var rampPer = document.getElementById("perm");
      var rampTemp = document.getElementById("temp");
      var rampNone = document.getElementById("ramp_none");
      var rampPerCheck = document.getElementById("rampPerCheck");
      var rampTempCheck = document.getElementById("rampTempCheck");
      var rampNoneCheck = document.getElementById("rampNoneCheck");

      var railBoth = document.getElementById("both");
      var railOne = document.getElementById("one");
      var railNone = document.getElementById("rail_none");
      var railBothCheck = document.getElementById("railBothCheck");
      var railOneCheck = document.getElementById("railOneCheck");
      var railNoneCheck = document.getElementById("railNoneCheck");

      var slipInstall = document.getElementById("installSlip");
      var slipNone = document.getElementById("noneSlip");
      var slipInstallCheck = document.getElementById("slipInstallCheck");
      var slipNoneCheck = document.getElementById("slipNoneCheck");

      var openBoth = document.getElementById("openBoth");
      var openOne = document.getElementById("openOne");
      var openNone = document.getElementById("openNone");
      var openBothCheck = document.getElementById("openBothCheck");
      var openOneCheck = document.getElementById("openOneCheck");
      var openNoneCheck = document.getElementById("openNoneCheck");

      var tactInstall = document.getElementById("installTact");
      var tactNone = document.getElementById("noneTact");
      var tactInstallCheck = document.getElementById("tactInstallCheck");
      var tactNoneCheck = document.getElementById("tactNoneCheck");

      var pub = document.getElementById("pub");
      var priv = document.getElementById("priv");
      var pubCheck = document.getElementById("pubCheck");
      var privCheck = document.getElementById("privCheck");


      /* -------------------------- Filter Event Listeners ---------------------- */

      var rampPerFilter = true;
      var rampTempFilter = true;
      var rampNoneFilter = true;
      var railBothFilter = true;
      var railOneFilter = true;
      var railNoneFilter = true;
      var slipInstallFilter = true;
      var slipNoneFilter = true;
      var openBothFilter = true;
      var openOneFilter = true;
      var openNoneFilter = true;
      var tactInstallFilter = true;
      var tactNoneFilter = true;
      var publicFilter = true;
      var privFilter = true;

      rampPer.addEventListener("click", filterRampPer);
      rampPerCheck.addEventListener("click", filterRampPer);

      rampTemp.addEventListener("click", filterRampTemp);
      rampTempCheck.addEventListener("click", filterRampTemp);

      rampNone.addEventListener("click", filterRampNone);
      rampNoneCheck.addEventListener("click", filterRampNone);

      railBoth.addEventListener("click", filterRailBoth);
      railBothCheck.addEventListener("click", filterRailBoth);

      railOne.addEventListener("click", filterRailOne);
      railOneCheck.addEventListener("click", filterRailOne);

      railNone.addEventListener("click", filterRailNone);
      railNoneCheck.addEventListener("click", filterRailNone);

      slipInstall.addEventListener("click", filterSlipInstall);
      slipInstallCheck.addEventListener("click", filterSlipInstall);

      slipNone.addEventListener("click", filterSlipNone);
      slipNoneCheck.addEventListener("click", filterSlipNone);

      openBoth.addEventListener("click", filterOpenBoth);
      openBothCheck.addEventListener("click", filterOpenBoth);

      openOne.addEventListener("click", filterOpenOne);
      openOneCheck.addEventListener("click", filterOpenOne);

      openNone.addEventListener("click", filterOpenNone);
      openNoneCheck.addEventListener("click", filterOpenNone);

      tactInstall.addEventListener("click", filterTactInstall);
      tactInstallCheck.addEventListener("click", filterTactInstall);

      tactNone.addEventListener("click", filterTactNone);
      tactNoneCheck.addEventListener("click", filterTactNone);

      pub.addEventListener("click", filterPublic);
      pubCheck.addEventListener("click", filterPublic);

      priv.addEventListener("click", filterPrivate);
      privCheck.addEventListener("click", filterPrivate);

    </script>
  </div>

  <div id="filterBoxIslands" class="filterBox">
    <div id="filterContainer" class="filterBoxFilterContainer">
      <div class="filterCaptionBox">
        <h3 class="caption">
          Accessbilitiy
          <div class="filterBoxItem" onclick="setUpLegend()">
            <input id="noLegend" type="radio" name="islesFilter" checked class="filterCheck" id="noFilter">
            <p class="filterBoxItem" onclick="setUpLegendNone()">Default</p>
          </div>
          <div class="filterBoxItem" onclick="setUpLegend()">
            <input id="walkLegend" type="radio" name="islesFilter" class="filterCheck" id="walkFilter">
            <p class="filterBoxItem" onclick="setUpLegendWalk()">Bridge</p>
          </div>
          <div class="filterBoxItem" onclick="setUpLegend()">
            <input id="boatLegend" type="radio" name="islesFilter" class="filterCheck" id="boatFilter">
            <p class="filterBoxItem" onclick="setUpLegendBoat()">Boat</p>
          </div>
          <div class="filterBoxItem" onclick="setUpLegend()">
            <input id="totalLegend" type="radio" name="islesFilter" class="filterCheck" id="bothFilter">
            <p class="filterBoxItem" onclick="setUpLegendTotal()">Total</p>
          </div>
        </h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div id="filterBoxStops" class="filterBox" style="height: 0">
    <div id="filterContainer" class="filterBoxFilterContainer">
      <div class="filterCaptionBox">
        <h3 class="caption">
          Boat Stops
          <div class="filterBoxItem">
            <input id="showStops" type="radio" name="stopsDisplay" checked class="filterCheck" id="noFilter" onclick="showStops()">
            <p class="filterBoxItem" onclick="showStopsText()">Show</p>
          </div>
          <div class="filterBoxItem">
            <input id="hideStops" type="radio" name="stopsDisplay" class="filterCheck" id="walkFilter" onclick="hideStops()">
            <p class="filterBoxItem" onclick="hideStopsText()">Hide</p>
          </div>
        </h3>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

    <table id="table" class="mapTable">
       <tr>
           <th id="mapSection" valign="top">
               <table id="mapDes" class="mapDescTable">
                   <tr>
                       <th width="15000px" valign="top">
                          <div id="mapid"></div>
                       </th>
                       <th id="descBoxContainer" class="descBoxContainer" valign="top">
                          <div id="descBox" class="descBox" >

                              <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="margin: -10px -10px 5px -10px">

                                <!-- Indicators -->
                                <!--<ul id="" class="carousel-indicators">
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ul>-->
                                
                                <!-- The slideshow -->
                                <div id="mapCarousel-inner" class="mapCarousel-inner">
                                  
                                </div>
                                
                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                  <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </a>
                              </div>

                              <div id="close" class="closeBtn" onclick="closeDescBox()">
                                &#8594;
                              </div>
                                <script>
                                      function closeDescBox() {
                                        var container = document.getElementById("descBoxContainer");
                                        var description = document.getElementById("descBox");
                                        container.style.width = "0px";
                                        description.style.width = "0px";
                                        description.style.padding = "0px";
                                      }
                                </script>

                              <div class="descBoxItemMain">
                                  <i style="font-size:15px" class="fa">&#xf05a;</i>
                                  General Info
                              </div>
                              <div id="infoDiv" style="float: left"></div>
                              <div class="descBoxItemMain" style="margin-top: 20px">
                                  <i style="font-size:16px; color: lightgray" class="fab fa-accessible-icon"></i>
                                  Accommodations
                              </div>
                              <div id="accomDiv" style="float: left"></div>
                              <div class="descBoxItemMain" style="margin-top: 20px">
                                  &#9888; Cautions
                              </div>
                              <div id="cautionDiv" style="float: left"></div>
                              <script>
                                addDescription();
                              </script>
                          </div>
                       </th>
                   </tr>
               </table>
           </th>
       </tr>
    </table>
    <script>
        /* --------------------------------- Map Initialization  ------------------------------------ */
        var mymap = L.map('mapid').setView([45.436309, 12.335072], 14);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 19,
            subdomains: ['a','b','c','d'],
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoidmVuaWNld2l0aG91dG9ic3RhY2xlcyIsImEiOiJjam55azU0MHgxNTR4M3BrYjh2NzV1d3lyIn0.6EVMzVUveIUc-0BJfMijJw'
        }).addTo(mymap);

        mymap.doubleClickZoom.disable();


        /*var h3Icon = L.icon({
          iconUrl: '../images/maps/H3_Icon.png',

          iconSize:     [45, 35], // size of the icon
        });
        L.marker([45.425736, 12.323120], {icon: h3Icon}).addTo(mymap);*/

        /*var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
        }
        mymap.on('click', onMapClick);*/

        //getLayers();

        addMapElements();
    </script>
</div>