<div alt="A collection of maps" class="parallax-window" data-parallax="scroll" data-image-src="../images/maps/maps_header.jpg">
	
</div>

<div class="window-content">
	<h1>Maps</h1>
	<h2>Knowing where you're going and what you'll find.</h2>
</div>

<div class="mapPage">
	<div class="mapsContainer">
		<a class="map">
			<img src="../images/maps/maps_informative.jpg">

			<div class="mapText">
				<h3>Informative Map</h3>
				<p>Letting you know what you'll need for where you're going.</p>
			</div>
		</a>

		<a class="map" href="/home/map">
			<img src="../images/maps/maps_interactive.jpg">

			<div class="mapText">
				<h3>Interactive Map</h3>
				<p>Allowing you to interact with where you're going and what you'll see along the way.</p>
			</div>
		</a>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
