<div class="orgHeader">
	<div class="orgLogo">
		<h1>Organizations</h1>
		<h2>With You Every Step of the Way</h2>
	</div>
</div>
<div class="orgPage">
	<a class="org">
		<img src="../images/organizations/citta/logo.jpg">

		<div class="orgText">
			<h3>Città per tutti</h3>
			<p>Making the public aware of initiatives and projects implemented that improve the accessibility of Venice.</p>
		</div>
	</a>

	<a class="org" href="/home/gondolas4all">
		<img src="../images/organizations/gondolas4all/logo.jpg">

		<div class="orgText">
			<h3>Gondolas4All</h3>
			<p>Ensuring all persons with disabilities have the oppertunity to expereince the magic of gondolas.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/villageforall/logo.jpg">

		<div class="orgText">
			<h3>Village For All</h3>
			<p>Inspecting and analyzing facilities to provide you with information on hotels that best suit your NEEDS.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/sanitrans/logo.png">

		<div class="orgText">
			<h3>Sanitrans</h3>
			<p>Making Venice fully accessible to every citizen or tourist with disabilities.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/salablu/logo.jpg">

		<div class="orgText">
			<h3>Sala Blu</h3>
			<p>Ensuring all travellers have access to facilities and assistance within the Venice train station.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/blindWiki/logo.jpg">

		<div class="orgText">
			<h3>blind.Wiki</h3>
			<p>Looking out for those with visual disabilities by highlighting safe and cautious areas to travel.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/tooteko/logo.png">

		<div class="orgText">
			<h3>tooteko</h3>
			<p>Combining technology and storytelly to transform cultural visits into digital experiences.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/actv/logo.png">

		<div class="orgText">
			<h3>Actv</h3>
			<p>Granting easy, accessible pubic transpotation throughout Venice.</p>
		</div>
	</a>
</div>

<%= render :partial => "/layouts/footer" %>
