<div class="orgHeader">
	<div class="orgLogo">
		<h1>Organizations</h1>
		<h2>With You Every Step of the Way</h2>
	</div>
</div>
<div class="orgPage">
	<a class="org">
		<img src="../images/organizations/gondolas4all/logo.jpg">

		<div class="orgText">
			<h3>Gondolas4All</h3>
			<p>Ensuring all persons with disabilities have the oppertunity to expereince the magic of gondolas.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/blindWiki/logo.jpg">

		<div class="orgText">
			<h3>blind.Wiki</h3>
			<p>Looking out for those with visual disabilities by highlighting safe and cautious areas to travel.</p>
		</div>
	</a>

	<a class="org">
		<img src="../images/organizations/tooteko/logo.png">

		<div class="orgText">
			<h3>tooteko</h3>
			<p>Combining technology and storytelly to transform cultural visits into digital experiences.</p>
		</div>
	</a>
</div>
<div>