<div class="breadCrumb">
	<a href="/home/organizations">&#x2190; Organizations</a>
	/
	<a href="/home/salablu">Sala Blu</a>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="salablu logo" src="../images/organizations/salablu/logo.jpg">
		</div>	

		<div class="pageLink">
			<a href="http://www.rfi.it/rfi/LINEE-STAZIONI-TERRITORIO/Le-stazioni/Accessibilit%C3%A0-stazioni/Servizi-di-assistenza-e-Sale-Blu-RFI/Sale-blu-Venezia">Sale-blu-Venezia</a>
		</div>

		<!--<div class="mediaContainer">

  			<a href="https://www.facebook.com/Sanitrans-srl-648075281968594/" class="fa fa-facebook" style="background: #3B5998; color: white;"></a>

  			<a href="https://twitter.com/sanitranssrl" class="fa fa-twitter" style="background: #55ACEE; color: white;"></a>
		</div>-->	

		<div class="mapContainer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11197.704264880347!2d12.3210436!3d45.4410697!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc7c01f280ca9309!2sStazione+di+Venezia+Santa+Lucia!5e0!3m2!1sit!2sit!4v1543321796719" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>

			<div class="mapText">
				<p>The Sala Blu office for assistance to people with reduced mobility is located on the ground floor of the station by platform 14</p>
			</div>
		</div>
	</div>

	<div class="sideContainterRight">
		<div class="contactContainer">
			<h1>Contact:</h1>
        	<p>199 303 060</p>
        	<p>SalaBlu.VENEZIA@rfi.it</p>
		</div>
	</div>

	<div class="infoContainer">
		<h1>Sala Blu</h1>
		<h2>Continuous improvement to respond more effectively to the needs of travelers.</h2>
		<br>
		<p>
			Sala Blu is an accessibility organization provided by the Rete Ferroviaria Italiana (RFI), the company owning and managing the Italian railway network. Sala Blu’s purpose is to facilitate access to facilities and services in railway stations throughout the country for people with disabilities.
		</p>
		<br>
		<p>
			Sala Blu ensures people with disabilities have access to information on available accessibility services and are able to book these services to accommodate their needs.  Sala Blu also provides wheelchairs on demand and guidance in the station and to the customer’s desired train.  Furthermore, Sala Blu workers welcome their customers on board at arrival and guide them to the next train or to the station exit.  Lastly, Sala Blu offers trolleys that can lift wheelchair-bound customers on and off of the train and also provide manual single-baggage trolleys free of charge to transport the customer’s baggage to the next train or station exit.  
		</p>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		  	<div class="carousel-item active">
		      <img src="../images/organizations/salablu/salablu_people.jpg" alt="Sala Blu helping people" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/salablu/salablu_wheelchair.jpg" alt="Sala Blu wheelchair assistance" width="100%" height="315">
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/salablu/salablu_office.jpg" alt="Sala Blu office" width="100%" height="315">
		    </div>

		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
