<div class="breadCrumb">
	<a href="/home/organizations">&#x2190; Organizations</a>
	/
	<a href="/home/tooteko">Tooteko</a>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="Tooteko logo" src="../images/organizations/tooteko/logo.png">
		</div>	

		<a class="pageLink" href="http://www.tooteko.com/">tooteko.com</a>

		<div class="mediaContainer">

			<a href="https://www.facebook.com/tooteko/" class="fa fa-facebook" style="background: #3B5998; color: white;"></a>

  			<a href="https://twitter.com/tooteko" class="fa fa-twitter" style="background: #55ACEE; color: white;"></a>
		</div>	

		<div class="mapContainer">
			<iframe alt="tooteko home base location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.3921256551703!2d12.33995131536012!3d45.44175374296229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb1de54327021%3A0x52d05c12c6031b8a!2sCannaregio%2C+6296B%2C+30121+Venezia+VE!5e0!3m2!1sit!2sit!4v1543330621600" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="sideContainterRight">
		<div class="contactContainer">
			<h1>Contact:</h1>
			<p>+39 328 484 0002</p>
        	<p>info@tooteko.com</p>
		</div>
	</div>

	<div class="infoContainer">
		<h1>Tooteko</h1>
		<h2>Making art accessible to the blind and visually impaired by integrating tactile exploration with audio data.</h2>
		<br>
		<p>
			Tooteko is making artwork and museums accessible to people who are visually impaired or blind by combining audio data and tactile exploration.
		</p>
		<br>
		<p>
			Tooteko offers 3D scanning and printing, video mapping, video animations, and interactive media to provide the opportunity for people with visual impairments to experience and interact with artwork like never before.
		</p>
		<br>
		<p>
			Also offering Augmented Reality, Virtual Reality and Mixed Reality services for museums and cultural institutions, Tooteko combines technology with visual, auditory, and sensory storytelling to transform cultural visits into digital experiences.
		</p>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		    <li data-target="#myCarousel" data-slide-to="4"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		  	<div class="carousel-item active">
		      <iframe alt="tooteko promotional video" width="100%" height="315" src="https://www.youtube.com/embed/iVNlZ_Y2grk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>

		    <div class="carousel-item">
		      <iframe alt="tooteko startup interview" width="100%" height="315" src="https://www.youtube.com/embed/1Zgny_WoifY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>

		    <div class="carousel-item">
		      <img alt="tooteko ring technology" src="../images/organizations/tooteko/tooteko_ring.jpg">
		    </div>

		    <div class="carousel-item">
		      <img alt="tooteko interactive sculpture" src="../images/organizations/tooteko/tooteko_piece.jpg">>
		    </div>

		    <div class="carousel-item">
		      <img alt="person interacting with sculpture using tooteko technology" src="../images/organizations/tooteko/tooteko_statue.jpg">
		    </div>

		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
