<div class="breadCrumb">
	<a href="/home/organizations">&#x2190; Organizations</a>
	/
	<a href="/home/villageforall">Village for all</a>
</div>

<div class="orgPageIndividual">
	<div class="sideContainerLeft">
		<div class="logoContainer">
			<img alt="village for all logo" src="../images/organizations/villageforall/logo.jpg">
		</div>	

		<div class="pageLink">
			<a href="https://www.villageforall.net/it/">villageforall.net/it</a>
		</div>

		<div class="mediaContainer">

  			<a href="https://www.facebook.com/Village.for.all.V4A/" class="fa fa-facebook" style="background: #3B5998; color: white;"></a>

  			<a href="https://www.instagram.com/explore/tags/villageforall/" class="fa fa-instagram" style="background: #125688; color: white;"></a>
		</div>	

		<div class="mapContainer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40675.323230379196!2d11.640612452572274!3d44.76035177791009!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477e491820f8266f%3A0x9a9e4b102e52275e!2sVillage+for+all+V4A%C2%AE!5e0!3m2!1sen!2sit!4v1543316599633" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="sideContainterRight">
		<div class="contactContainer">
			<h1>Contact:</h1>
        	<p>338 881 1312</p>
        	<p><a href="https://www.villageforall.net/it/contatti/">villageforall.net/it/contatti/</a></p>
		</div>
	</div>

	<div class="infoContainer">
		<h1>Village for all</h1>
		<h2>"Holidays for all" - Village for all’s real mission!</h2>
		<br>
		<p>
			Village for all is a non-profit accessible tourism organization whose objective is to allow everyone to experience the benefits of tourism throughout Italy.    
		</p>
		<br>
		<p>
			Village for all provides accessible tourism guides and operation manuals to inform people of accessible tourist facilities that offer accessible hospitality to their guests. To support their motto and mission of “Holidays for all!”, Village for all is motivated to accommodate people with mobility, sensory, and hearing impairments by providing “right” and “reliable” information about accessible holiday destinations that best suit the customer’s needs.
		</p>
		<br>
		<p>
			The purpose of this information is to help the customer understand the extent to which he/she can be independent and autonomous during his/her stay in that accessible tourist destination.
		</p>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		  </ul>
		  
		  <!-- The slideshow -->
		  <div class="orgCarousel-inner">
		  	<div class="carousel-item active">
		      <iframe alt="Village for all promotional video" width="100%" height="315" src="https://www.youtube.com/embed/QO-wRM26sIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>

		    <div class="carousel-item">
		      <img src="../images/organizations/villageforall/logo.jpg" alt="village for all logo" width="100%" height="315">
		    </div>

		  </div>
		  
		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>

<%= render :partial => "/layouts/footer" %>
