html { 
	height: 100%; 
}

body {
	min-height: 100%;

    font-weight: 300;
    /*letter-spacing: 1.5px;*/
    font-family: 'Padauk';

    box-sizing: border-box;
}

/* -------------- Home CSS -------------- */
.homeHeaderBtn {
    height: 100%;

    cursor: pointer;
    padding: 11px 10px 10px 10px;
    margin: 0px 10px 10px 20px;
    font-size: 21px;
    color: white;

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.homeHeader {
	position: absolute;

	width: 100%;
	min-width: 1100px;
	height: 78px;

	top: 0px;
	left: 0px;

	margin-left: calc((100% - 1100px) / 2);
	padding-right: calc((100% - 1100px) / 2);

	background-color: white;

	z-index: 1;
}

.logo{
	width: 1100px;

	text-align: left;

	h1{
		width: 500px;

		top: 22px;
		margin: 0;

		position: absolute;
		pointer-events: none;


		font-family: 'Istok Web',sans-serif;
		font-size: 30px;
		font-weight: bold;

		background: linear-gradient(175deg, #12437b 28.99%, #15a1cf);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2{
		color: #12437b;
		margin: 0;

		font-family: 'Raleway', sans-serif;
		font-size: 35px;
	}
}

.menuNav{
	width: 700px;
	height: 20px;

	top: 27px;
	left: 335px;

	position: absolute;

	overflow-x: visible;

	.menuContainer{
		width: calc(100% - 0px);
		height: calc(100% - 0px);

		white-space: nowrap;

		display: inline-block;

		overflow: visible;

		position: relative;

		.menuItem{
			cursor: pointer;

			width: 100px;
			height: 32px;

			color: #12437b;

			text-align: center;
			font-family: 'Raleway', sans-serif;
			font-size: 18px;

			display: inline-block;

			box-sizing: border-box;

			overflow: visible;

			position: relative;
		}
	}
}

.carosalContainer {
	position: relative;

	overflow: hidden;

	height: 90vh;
	z-index: 0;
}

.carousel-caption{
	cursor: pointer;

	width: 230px;
	height: 62px;

	padding: 5px;
	padding-top: 11px;
	//border: 2px #12437b solid;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 20px;

	text-align: center;
	display: table;

	background-color: white;
	//background: linear-gradient(to bottom right, #12437b 40.76%, #64b3ff);
	box-shadow: 2px 2px 4px rgba(0,0,0,.8);

	color: #12437b;
	text-shadow: none;

	font-family: 'Istok Web',sans-serif;
	font-size: 35px;

	transition: all .4s ease;

	h3{
		margin-top: 8px;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.carousel-caption:hover{
	color: white;
	background: linear-gradient(to bottom right, #12437b 0%, #64b3ff);
	box-shadow: 3px 3px 8px rgba(0,0,0,1);
}

.carousel-fade {
     width: 100%;
     height: 90vh;
     margin: auto;

    .carousel-inner {
        .item {
            transition-property: opacity;

            img{
            	min-height: 90vh;
            	max-height: 90vh;
            }
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel-indicators li {
	cursor: pointer;
	display: inline-block;

    width: 50px;
    height: 5px;
    margin: 1px;

    text-indent: -999px;

    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 1px;
}

.carousel-indicators .active {

    width: 50px;
    height: 5px;

    margin: 0;
    background-color: #fff;
}

.gradient {
	grid-area: left;
	background: #000;
	background: linear-gradient(135deg, #1E88E5 0%, #fadee0 40%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$main",endColorstr="$second",GradientType=1);
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.2;
}