html { 
	height: 100%; 
}

body {
	min-height: 100%;

    font-weight: 300;
    /*letter-spacing: 1.5px;*/
    font-family: 'Padauk';

    box-sizing: border-box;
}

/* -------------- OverLay Menu CSS -------------- */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #fff 60%, #cee7ff);
    overflow-x: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 18%;
    width: 100%;
    text-align: center;

    font-family: 'Istok Web';
}

.overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 45px;
    color: #959595;
    display: block;
    transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    font-size: 52px;
}

.overlay .closebtn {
    position: absolute;
	top: 50px;
	right: 30px;
	font-size: 30px;

	padding: 5px 40px 5px 40px;
}

.closebtn:hover{
	font-size: 40px;
	transition: .3s ease;
}

.mutebtn {
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	color: #959595;
    display: block;
    transition: 0.3s;

    position: absolute;
	top: 38px;
	left: 15px;
	font-size: 35px;

	padding: 5px 40px 5px 40px;
	margin: 10px;
	font-family: 'Istok Web';
}
.mutebtn:hover {
	color: #f1f1f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* -------------- End OverLay Menu CSS -------------- */

/* -------------- Header Menu CSS -------------- */
.header {
    position: fixed;
    width: 100%;
    min-height: 50px;
    height: 50px;
    z-index: 3;

    top: 0;
    background: transparent;
    //background-color: rgba(0, 0, 0, 0.77);
    //box-shadow: 0px 4px 5px rgba(0,0,0,.3);

    transition: 0.8s all;
}

.headerChangeColor {
   	background: white;
}

.headerBtn {
    height: 100%;

    cursor: pointer;
    padding: 11px 25px 10px 25px;
    font-size: 21px;
    color: white;
    font-family: 'Nunito Sans';

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.headerBtn:hover {
    border-bottom: 3px white solid;
    background-color: #1b1b1b;
}

.headerLeft {
    float: left;
}

.headerCenter {
    float: center;
}

.headerRight {
    float: right;
}

.headerLabel {
    height: 100%;

    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    color: white;

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hamDivContainer {
	cursor: pointer;

	padding: 9px 25px 8px 25px;
}

.hamDivContainer:hover{
	//background-color: #1b1b1b;
}

.hamDiv {
	width: 30px;
    height: 3px;

    background: linear-gradient(to bottom right, #12437b 40.76%, #64b3ff);
    //box-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    margin: 6px 0;

    transition: .3s ease;
}

/* -------------- End Header Menu CSS -------------- */

/* -------------- Footer CSS -------------- */

footer {
	height: 375px;

	padding-top: 15px;
	margin-top: 20px;

    background: linear-gradient(to bottom right, #12437b 40.76%, #64b3ff);
	color: #fff;
	font-size: 18px;

    box-sizing: border-box;
}

.footerContainer {
	width: 100%;
	height: 100%;

	margin-right: auto;
	margin-left: auto;
	padding-left: 75px;
	padding-right: 75px;

}

.footerInfoContainer {
	cursor: pointer;

	width: 31.5%;
	height: 100%;

	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px; 
	float: left;

	display: inline-table;
	transition: all .3s ease;

	font-family: 'Raleway', sans-serif;
	font-size: 16px;

	h3{
		max-height: 30px;
		font-size: 28px;
		font-weight: 600;
		font-family: 'Libre Franklin', sans-serif; 
	}

	ul{
		padding-left: 15px;
		font-size: 22px
	}

	li:hover{
		font-size: 28px;
		border-bottom: 1px white solid;
	}

	a {
		color: white;
	}

	.aFooter{
		color: white;
	}
	.aFooter:hover, .aFooter:focus {
		text-decoration: none;
	}
}

/* -------------- End Footer CSS -------------- */

/* -------------- Map CSS ----------------- */
#mapid {
    /* Fix height adjustment for later */
    height: 85.4vh;
    z-index: 0;

    margin-top: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    transition: .3s ease;

    .open {

    }

}


.mapTable {
    width: 100%;
    height: 100%;

    position: fixed;
}

.mapDescTable {
    width: calc(100%-200px);
    height: 100%;
    margin-left: 210px;

    transition: .3s ease;

    box-sizing: border-box;
}

#mic {
    font-size: 26px;
    float: right;

    margin-top: 2px;
    margin-right: 10px;

    color: blue;
}

#mic:hover{
    cursor: pointer;

    color: dodgerblue;
}

.searchBarContainer {
    width: calc(100% - 230px);
    height: 40px;

    font-size: 18px;
    background-size: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 10px 10px 0px 220px;
    padding: 4px 10px 0px 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.searchBar {
    font-size: 18px;
    height: 100%;
    width: calc(100% - 60px);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: none;
    outline: none;
}

.filterBox {
    position: fixed;
    top: 50px;
    left: 0px;

    background-color: #3b3b3b;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    width: 210px;
    height: 100%;

    padding: 0px 0px 0px 5px;
    border-top: gray 1px solid;
    border-radius: 1px;

    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s ease;

    z-index: 2;
}

.filterDivider {
	position: fixed;
	top: 99px;
	left: 0;

	width: 210px;
	height: 1px;

	background-color: gray;
}

.filterBoxItemHeader {
    cursor: pointer;
    position: fixed;

	width: 200px;
	height: 48px;

	font-family: 'Nunito Sans';
	color: white;
	font-size: 21px;
	background-color: #3b3b3b;

	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

	padding: 10px 0px 0px 10px;
}

.filterBoxFilterContainer {
	overflow-y: auto;
	margin-top: 48px;
}

.filterBoxItem {
    cursor: pointer;

    text-align: left;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;

    margin: 4px 10px 4px 10px;
}
.filterBoxItem:hover{
    font-size: 25px;
}

.filterBoxItemClick {
    width: calc(100% - 10px);

    text-align: left;
    float: left;
    color: white;
    font-size: 21px;
    font-family: 'Nunito Sans';

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

    padding: 10px 10px 5px 10px;
    margin-top: 10px;
}

.filterCheck {
    z-index: 1;
}

.filterCheck:hover {
    cursor: pointer;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
}

.descBoxContainer {
	height: 100%;
	width: 0px;
}

.descBox {
    background: black;
    width: 0px;
    height: 85.4vh;

    margin: 10px 0px 5px 0px;

    box-shadow: 0px 4px 5px rgba(0,0,0,.3);

    float: right;
    overflow-y: auto;
    overflow-x: hidden;

    transition: .3s ease;
}

.closeBtn {
	height: 20px;
	width: 20px;

    color: lightgray;
    background-color: black;
    float: right;
    border: none;
    font-size: 18px;

    overflow:visible;
    background:none !important;

    transition: .1s ease;
}

.closeBtn:hover{
    cursor: pointer;
    color: white;

	height: 25px;
	width: 25px;
    font-size: 22px
}

.descBoxHeader {
	font-family: 'Istok Web';
	color: lightgray; 
	font-size: 27px;
	margin: 28px 0 0 10px;


    box-sizing: border-box;
}

.descBoxItemMain {
    width: 90%;
    float: left;

    text-align: left;

    color: lightgray;
    font-size: 20px;
    font-family: 'Nunito Sans';

    margin: 10px 10px 3px 10px;

    border-bottom: 1px lightgray solid;
}

.descBoxItem {
    box-sizing: border-box;

    width: 100%;

    text-align: left;
    color: lightgray;
    font-size: 17px;
    margin: 3px 10px 3px 10px;

    float: left;
}

/* -------------- End Map CSS -------------- */

/* -------------- Home CSS -------------- */
.homeHeaderBtn {
    height: 100%;

    cursor: pointer;
    padding: 11px 10px 10px 10px;
    margin: 0px 10px 10px 20px;
    font-size: 21px;
    color: white;

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.homeContainer {
	width: 100%;
	height: 100%;

	top: 0px;

	box-sizing: border-box !important;

	position: fixed;
}

.homeImg {
	min-height: 500px;
	height: auto;

	background-size: 100% 500px;
	background-repeat: no-repeat;

	padding-top: 175px;
	padding-left: 100px;
	padding-right: 100px;
	left: 0;
	right: 0;

	color: rgba(255,255,255,.9);
}

.homeImgTextMain {
	font-size: 80px;
	color: white;

	text-align: center;
	vertical-align: middle;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
}

.homeImgTextMinor {
	font-size: 30px;
	color: white; 

	text-align: center;
	vertical-align: middle;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
}

#homeFirstImgText {
	border: black 3px solid;
	padding: 10px;

	background-color: #742a2acc;
	box-shadow: 1px 1px 5px rgb(0, 0, 0);  
	border-radius: 20px; 
}

.screenContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    align-items: center;
    height: 100vh;
}

.homeHeader {
	height: 25vh;

	position: relative;
	padding-top: 35px;
	padding-left: 200px;
	padding-right: 200px;

	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);

	z-index: 1;
}

.logo{
	text-align: right;

	h1{
		margin: 0;

		font-family: 'Istok Web',sans-serif;
		font-size: 60px;
		font-weight: bold;

		background: linear-gradient(to bottom right, #12437b 54%, #15a1cf);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2{
		color: #12437b;
		margin: 0;

		font-family: 'Raleway', sans-serif;
		font-size: 35px;
	}
}

.carosalContainer {
	position: relative;

	overflow: hidden;

	height: 100%;
	z-index: 0;
}

.carousel-caption{
	cursor: pointer;

	width: 220px;
	height: 60px;

	padding: 10px;
	padding-top: 8px;
	border: 1px black solid;
	margin: 0 auto;
	margin-bottom: 20px;

	text-align: center;
	display: table;

	background-color: white;
	//background: linear-gradient(to bottom right, #12437b 40.76%, #64b3ff);
	box-shadow: 4px 4px 8px rgba(0,0,0,.8);
	border-radius: 6px;

	color: #12437b;
	text-shadow: none;

	font-family: 'Raleway', sans-serif;
	font-size: 35px;

	transition: .3s ease;

	h3{
		margin-top: 8px;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.carousel-caption:hover{
	width: 240px;

	color: white;
	background: linear-gradient(to bottom right, #12437b 0%, #64b3ff);
}

.carousel-fade {
     width: 100%;
     height: 75vh;
     margin: auto;

    .carousel-inner {
        .item {
            transition-property: opacity;

            img{
            	min-height: 80vh;
            	max-height: 80vh;
            }
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel-indicators li {
	cursor: pointer;
	display: inline-block;

    width: 50px;
    height: 5px;
    margin: 1px;

    text-indent: -999px;

    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 1px;
}

.carousel-indicators .active {

    width: 50px;
    height: 5px;

    margin: 0;
    background-color: #fff;
}

.gradient {
	grid-area: left;
	background: #000;
	background: linear-gradient(135deg, #1E88E5 0%, #fadee0 40%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$main",endColorstr="$second",GradientType=1);
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.2;
}
