/* -------------- Map CSS ----------------- */
#mapid {
    /* Fix height adjustment for later */
    height: 82vh;
    z-index: 0;

    margin-top: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    transition: .3s ease;

    .open {

    }

}


.mapTable {
    width: 100%;
    height: 100%;

    position: fixed;
}

.mapDescTable {
    width: calc(100%-200px);
    height: 100%;
    margin-left: 210px;

    transition: .3s ease;

    box-sizing: border-box;
}

#mic {
    font-size: 26px;
    float: right;

    margin-top: 2px;
    margin-right: 10px;

    color: blue;
}

#mic:hover{
    cursor: pointer;

    color: dodgerblue;
}

.searchBarContainer {
    width: calc(100% - 230px);
    height: 40px;

    font-size: 18px;
    background-size: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 10px 10px 0px 220px;
    padding: 4px 10px 0px 10px;

    border: 1px solid #ddd;
    border-radius: 5px;

    background-color: white;
}

.searchBar {
    font-size: 18px;
    height: 100%;
    width: calc(100% - 60px);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: none;
    outline: none;
}

.filterBox {
    position: fixed;
    top: 77px;
    left: 0px;

    background-color: #292649;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    width: 210px;
    height: 95%;

    padding: 0px 0px 0px 12px;
    border-top: gray 1px solid;
    border-radius: 1px;

    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s ease;

    z-index: 2;
}

.filterDivider {
	position: fixed;
	top: 138px;
	left: 0;

	width: 210px;
	height: 1px;

	background-color: gray;
}

.filterBoxItemHeader {
    cursor: pointer;
    position: fixed;

	width: 200px;
	height: 60px;

	font-family: 'Istok Web';
	color: white;
	font-size: 22px;

    background-color: #292649;

	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

	padding: 19px 0px 0px 10px;
}

.filterBoxFilterContainer {
	overflow-y: auto;
	margin-top: 60px;
}

.filterBoxItem {
    cursor: pointer;

    text-align: left;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;

    margin: 4px 10px 4px 10px;

    transition: all 0.2s ease;
}
.filterBoxItem:hover{
    font-size: 25px;
}

.filterBoxItemClick {
    width: calc(100% - 10px);

    text-align: left;
    float: left;
    color: white;
    font-size: 21px;
    font-family: 'Istok Web';

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

    padding: 10px 10px 5px 10px;
    margin-top: 10px;
}

.filterCheck {
    z-index: 1;
}

.filterCheck:hover {
    cursor: pointer;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
}

.descBoxContainer {
	height: 100%;
	width: 0px;
}

.descBox {
    background-color: #292649;
    width: 0px;
    height: 82vh;

    margin: 10px 0px 5px 0px;

    float: right;
    overflow-y: auto;
    overflow-x: hidden;

    transition: .3s ease;
}

.closeBtn {
    cursor: pointer;

	height: 30px;
	width: 40px;

    color: white;

    float: right;
    border: none;
    font-size: 25px;

    overflow:visible;
    background:none !important;

    transition: .1s ease;
}

.closeBtn:hover{
    color: white;
    font-size: 30px;

    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.descBoxHeader {
	font-family: 'Istok Web';
	color: white; 
	font-size: 27px;
	margin: 28px 0 0 10px;


    box-sizing: border-box;
}

/* ---------------------- Carousel ------------------- */

.mapCarousel-inner{
    position: relative;
    width: 100%;

    min-height: 225px;
    max-height: 225px;

    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    .carousel-item{

        img{
            width: 100%;
            min-height: 225px;
            max-height: 225px;
        }

    }
}


/* --------------------------------------------------- */

.descBoxItemMain {
    width: 90%;
    float: left;

    text-align: left;

    color: white;
    font-size: 20px;
    font-family: 'Nunito Sans';

    margin: 10px 10px 3px 10px;

    border-bottom: 1px white solid;
}

.descBoxItem {
    box-sizing: border-box;

    width: 100%;

    text-align: left;
    color: white;
    font-size: 17px;
    margin: 3px 10px 3px 10px;

    float: left;
}

/* -------------- End Map CSS -------------- */
