/* -------------- OverLay Menu CSS -------------- */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #fff 60%, #cee7ff);
    overflow-x: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;

    font-family: 'Istok Web';
}

.overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 45px;
    color: #777;
    display: block;
    transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
    font-size: 60px;
    font-weight: 900;

    background: linear-gradient(175deg, #12437b 28.99%, #15a1cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.overlay .closebtn {
	cursor: pointer;

    position: absolute;
	top: 5px;
	right: -10px;
	font-size: 30px;

	padding: 5px 40px 5px 40px;

	transition: .2s ease;

	color: #777;
}
.closebtn:hover, .closebtn:focus{
	font-size: 45px;

	background: linear-gradient(175deg, #12437b 28.99%, #15a1cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mutebtn {
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	color: #777;
    display: block;
    transition: 0.3s;

    position: absolute;
	top: 0px;
	left: -10px;
	font-size: 35px;

	padding: 5px 40px 5px 40px;
	margin: 10px;
	font-family: 'Istok Web';
}
.mutebtn:hover {
	background: linear-gradient(175deg, #12437b 28.99%, #15a1cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* -------------- End OverLay Menu CSS -------------- */

/* -------------- Header Menu CSS -------------- */
.header {
    position: fixed;

    width: 100%;
    min-height: 78px;
    height: 78px;

    z-index: 3;

    top: 0;
    background: transparent;
    background: white;
    box-shadow: 0px 4px 5px rgba(0,0,0,.3);

    transition: 0.3s all;
}

.headerBtn {
    height: 100%;

    cursor: pointer;
    padding: 11px 25px 10px 25px;
    font-size: 21px;
    color: white;
    font-family: 'Nunito Sans';

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.headerBtn:hover {
    border-bottom: 3px white solid;
    background-color: #1b1b1b;
}

.headerLeft {
    float: left;
}

.headerCenter {
    float: center;
}

.headerRight {
    float: right;
}

.headerLabel {
    height: 100%;

    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    color: white;

    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hamDivContainer {
	cursor: pointer;

	padding: 22px 25px 8px 25px;
}

.hamDivContainer:hover{
	//background-color: #1b1b1b;
}

.hamDiv {
	width: 30px;
    height: 3px;

    background: linear-gradient(to bottom right, #12437b 40.76%, #64b3ff);
    //box-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

    margin: 6px 0;

    transition: .3s ease;
}

.homeHeader {
  position: absolute;

  width: 100%;
  min-width: 1100px;
  height: 78px;

  top: 0px;
  left: 0px;

  margin-left: calc((100% - 1100px) / 2);
  padding-right: calc((100% - 1100px) / 2);

  background-color: white;

  z-index: 1;
}

.logo{
  width: 1100px;

  text-align: left;

  h1{
    width: 500px;

    top: 22px;
    margin: 0;

    position: absolute;
    pointer-events: none;


    font-family: 'Istok Web',sans-serif;
    font-size: 30px;
    font-weight: bold;

    background: linear-gradient(175deg, #12437b 28.99%, #15a1cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2{
    color: #12437b;
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 35px;
  }
}

.menuNav{
  width: 700px;
  height: 78px;

  left: 335px;

  position: absolute;

  overflow-x: visible;

  .menuContainer{
    width: calc(100% - 0px);
    height: calc(100% - 0px);

    white-space: nowrap;

    display: inline-block;

    overflow: visible;

    position: relative;

    .menuItem{
      cursor: pointer;

      width: 100px;
      height: 78px;

      padding-top: 25px;
      margin-bottom: 10px;

      color: #12437b;

      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 19px;

      display: inline-block;

      box-sizing: border-box;

      overflow: visible;

      position: relative;

      transition: all .2s ease;

      a{
        text-decoration: none;
        color: #12437b;
      }
    }
    .menuItem:hover{
      border-bottom: 2px #12437b solid;
    }
  }

  /*.dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
  }

  .dropdown {
      float: right;
      position: relative;
      display: inline-block;
  }*/

  .dropdown-content {
    width: 135px;

    left: -18px;
    top: 78px;

    background-color: white;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0,.3), -4px 5px 4px 0px rgba(0, 0, 0,.3);

    display: none;

    position: absolute;

    overflow: auto;
  }

  .dropdown-content a {
      color: #12437b;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropItem:hover {
    background-color: #f1f1f1;
  }

  .show {
    display: block;
  }
}

/* -------------- End Header Menu CSS -------------- */