<footer class="footer">
  <div class="footerContainer">
  	<div class="footerInfoContainer">
  		<h3>About Us</h3>
  		<p>
  			Venice Without Obstacles is a multi-collaborative project provideing accessibility information about Venice.
  		</p>
  		<p>
  			Working together with universities, organizations, students, volenteers, and hands on researches, Venice Without Obstacles aims in creating a coherent and complete source of accessiblility information and highlighting the most accessible aspects of Venice to increase the growing effort of making Venice accessible to everyone.
  		</p>
  	</div>
  	<div class="footerInfoContainer">
  		<h3>Venice Without Obstacles</h3>
  		<ul>
        <li>Home</li>
        <li><a href="/home" class="aFooter">Map</a></li>
  			<li>Arriving to Venice</li>
  			<li>Moving Arround</li>
  			<li>Dining Out</li>
        <li>Staying the Night</li>
  			<li>Applications</li>
  			<li>Organizations</li>
  		</ul>
  	</div>
  	<div class="footerInfoContainer">
  		<h3>Contact</h3>
  		<p>
  			Phone: 04396950273
  		</p>
  		<h3>Location</h3>
  		<a href="https://www.google.com/maps/place/Chiesa+dei+Santi+Cosma+e+Damiano/@45.425664,12.320884,17z/data=!3m1!4b1!4m5!3m4!1s0x477eb1d53a702123:0x3777e5f7b025a967!8m2!3d45.4256603!4d12.323078">
  			Campo SS. Cosma e Damiano, 624-625<br>
			Giudecca<br>
			30133 – Venezia
		</a>
  	</div>
  </div>
</footer>