<div id="myNav" alt="Open Menu Button" class="overlay">
  <i class="fa fa-close closebtn" onclick="closeSettings()" onmouseover="playGoBack()"></i>

  <div class="overlay-content">
    <div id="mutebtn" class="overlay-speech">
      Speech
      <label class="switch" onmousemove="playMute()">
        <input id="muteInput" type="checkbox" checked onclick="muteSpeech()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>

<div id="headerBar" class="header" style="left: 0px">
    <div class="headerLeft hamDivContainer" onclick="openSettings()">
      <i class="fas fa-cog" onmouseover="playGoSettings()"></i>
    </div>
  <div class="homeHeader">
    <a href="/home" class="logo">
      <h1>Venice Without Obstacles</h1>
    </a>

    <nav class="menuNav">
      <ul class="menuContainer">
        <li class="menuItem"  onmouseover="playGoHome()">
          <a href="/home">
            Home
          </a>
        </li>
        <li class="menuItem" onmouseover="playGoHotel()">
          Hotels
        </li>
        <li class="menuItem" onmouseover="playGoArrival()" onmouseleave="hideAll()">
          <a href="/home/arrival">
            Arrival
          </a>
          <div id="arrivDrop" class="dropdown-content">
            <a class="dropItem">Boat</a>
            <a class="dropItem">Car</a>
            <a class="dropItem">Plane</a>
            <a class="dropItem">Train</a>
          </div>
        </li>
        <li class="menuItem" onmouseover="playGoMap()" onmouseleave="hideAll()">
          <a href="/home/maps">
            Map
          </a>
          <div id="mapDrop" class="dropdown-content">
            <a class="dropItem" href="/home/map">Informative</a>
            <a class="dropItem" href="/home/map">Interactive</a>
          </div>
        </li>
        <li class="menuItem" onmouseover="playGoExplore()" onmouseleave="hideAll()">
          <a href="/home/explore">
            Traveling
          </a>
          <div id="exploreDrop" class="dropdown-content">
            <a class="dropItem">Boat</a>
            <a class="dropItem">Walking</a>
          </div>
        </li>
        <li class="menuItem" style="width: 115px" onmouseover="playGoAttract()" onmouseleave="hideAll()">
          <a href="/home/attractions">
            Attractions
          </a>
          <div id="attractDrop" class="dropdown-content" style="left: -10px" >
            <a class="dropItem">Restaurants</a>
            <a class="dropItem">Churches</a>
            <a class="dropItem">Museums</a>
            <a class="dropItem" href="/home/attractions">More . . . </a>
          </div>
        </li>
        <li class="menuItem" onmouseover="playGoApp()">
          <a href="/home/applications">
            Apps
          </a>
        </li>
        <li class="menuItem" style="width: 125px" onmouseover="playGoOrg()">
          <a href="/home/organizations">
            Organizations
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
